// colors

$color-1: #2e3233; // grey dark
$color-2: #eb6d54; // orange
$color-3: #e2e3df; // grey light 
$color-4: #ffffff; // white

// fonts 

$primary-font: 'Open Sans', Arial, Helvetica, sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

$logo-height-S: 58px;
$logo-height-L: 42px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 4;

// Site colors
$grey-lighter: #FAFAFA;
$grey-light: #e2e3df;
$grey-light-dark: #9a9a9a;
$grey-dark: #2e3233;
$orange-light: #ffcbc1;
$orange-primary: #eb6d54;
$orange-dark:#c72809	;
$white-primary: #FFFFFF;

$green-primary: #5ddcab;
$green-dark: #39c48e;
$yellow-primary: #FFDC40;


$row-gap: 15px;