// colors

$color-1: #2e3233; // grey dark
$color-2: #f53009; // orange
$color-3: #e2e3df; // grey light 
$color-4: #ffffff; // white

// fonts 

$primary-font: 'Lato', sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

$logo-height-S: 58px;
$logo-height-L: 42px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 4;

// Site colors
$orange-primary: #f53009;
$white-primary: #FFFFFF;
$orange-light: #ffcbc1;
$grey-light: #e2e3df;
$grey-light-dark: #9a9a9a;
$grey-dark: #2e3233;


$row-gap: 10px;